@import './base.css';


body{
  margin: 0px;
  padding: 0px;
  font-family: "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
   /* 设置的最小宽度，小于1024时，会出现滚动条 */
  min-width: 1024px; 
  min-height: 100%;
  border: 0;
}
#app {
  margin-top: 0px;
}

.menu-wrapper,
.el-sub-menu,
.el-menu-item,
.el-sub-menu__title {
    font-size: 18px;
    --el-menu-item-font-size: 18px;
    --el-menu-active-color: #ff9900 !important;
    --el-menu-hover-text-color: #ff9900 !important;
    --el-menu-hover-bg-color: rgba(255, 255, 255, 0);

}

/* .el-menu  .span{
  margin-left: 100px;
} */